fastapi
uvicorn[standard]
python-dotenv

langchain
langchain-community
google-generativeai
langchain-google-genai
chromadb
google-auth
google-cloud-aiplatform
pypdf
pandas
streamlit
python-dotenv
python-multipart
scikit-learn
sentence-transformers
